.date-picker{background-color:#fff;border:1px solid #000;left:200px;position:absolute;top:200px;width:198px;z-index:10002;}
.date-picker *{background-color:transparent;border-color:transparent;text-align:center;}
.date-picker .hidden{display:none !important}
.date-picker .selected{background-color:$color-blue;border-color:$color-blue;color:#fff}
.date-picker .date-picker-header{display:flex;font-size:1.5rem;padding:8px 5px;}
.date-picker .date-picker-header > *{display:block;flex:0;min-width:12px;text-align:center}
.date-picker .date-picker-header > span{flex:1}
.date-picker .date-picker-header > i{font-size:1.7rem;font-weight:bold}
.date-picker .month{height:100%;display:flex;flex-wrap:wrap;width:100%;}
.date-picker .month .day{background-color:transparent;border:1px solid transparent;color:#ccc;cursor:pointer;display:inline-block;padding:4px 0;position:relative;width:28px;}
.date-picker .month .day:hover{border-color:$color-blue}
.date-picker .month .day.day-header{color:#000;cursor:default;font-weight:bold;}
.date-picker .month .day.day-header:hover{border-color:transparent}
.date-picker .month .day.current{color:#000}
.date-picker .month .day:nth-of-type(8).selected:not(.start):after{content:'<<';left:0;position:absolute;top:10px}
.date-picker .month .day:last-of-type.selected:not(.end):after{content:'>>';left:0;position:absolute;top:10px}
.date-picker .month .day.selected{background-color:$color-blue;border-color:$color-blue;color:#fff}
.date-picker .label{padding:8px 0;width:100% !important}
.date-picker .date-time-container{display:flex;flex-wrap:wrap;font-size:2.2rem;width:100%;}
.date-picker .date-time-container > *{padding:12px;text-align:center;width:65px}
.date-picker .date-time-container > i{font-size:2rem;font-weight:bold}
.date-picker .date-time-container > i:hover,.date-picker .date-time-container > span:hover{background-color:$color-blue;color:#fff}
.date-picker .picker-selector{display:flex;flex-wrap:wrap;width:100%;}
.date-picker .picker-selector > *{padding:8px 0;}
.date-picker .picker-selector > *:not(.label):hover{background-color:$color-blue;color:#fff}
.date-picker .hour-picker > *{width:32px}
.date-picker .minute-picker > *{width:39px}
.date-picker .month-picker > *{width:60px}
.date-picker .mode-selector{display:flex;}
.date-picker .mode-selector > *{flex:1;padding:5px 0;}
.date-picker .mode-selector > *:hover{background-color:$color-blue;color:#fff}
.event-tile{width:320px;height:120px;border:solid 1px #444;border-radius:2px;padding:4px;background:#3d3d3d;background:linear-gradient(to bottom,#3d3d3d 0%,#313131 100%);float:left;margin:0 3px 3px 0;overflow:hidden;}
.event-tile.severity-verbose h4,.event-tile.severity-trace h4,.event-tile.severity-debug h4{color:#ccc}
.event-tile.severity-info h4{color:#eee}
.event-tile.severity-notice h4{color:#8fdd00}
.event-tile.severity-warn h4{color:#1a9dff}
.event-tile.severity-error h4{color:#a335ee}
.event-tile h4{margin:0;font-size:18px;text-shadow:-1px -1px 0 #111,1px -1px 0 #111,-1px 1px 0 #111,1px 1px 0 #111,-1px -1px 1px #111,1px -1px 1px #111,-1px 1px 1px #111,1px 1px 1px #111}
.event-tile .category,.event-tile .tenantid,.event-tile .siteid,.event-tile .correlationid{font-size:12px;line-height:20px;color:#ccc;overflow:hidden;text-overflow:ellipsis}
.event-tile .category{display:block;padding-left:4em;}
.event-tile .category:before{float:left;margin-left:-4em;content:'category ';opacity:.5}
.event-tile .siteid,.event-tile .correlationid{margin-left:4px;padding-left:4px;border-left:1px solid}
.event-tile .tenantid:before{content:'tenant ';opacity:.5}
.event-tile .siteid:before{content:'site ';opacity:.5}
.event-tile .correlationid:before{content:'correlation ';opacity:.5}
.event-tile .content{color:#fff;display:block;font-size:15px;padding:6px 10px;height:66px;line-height:20px;overflow:hidden;text-overflow:ellipsis}
.fancy-detail{display:none;}
.fancy .fancy-detail{display:block}
.fancy-detail{width:520px;margin-right:40px;padding:20px;border-radius:3px;box-shadow:0 0 4px #494949;border:solid 1px #000;background:#3d3d3d;background:linear-gradient(to bottom,#3d3d3d 0%,#313131 100%);}
.fancy-detail.severity-verbose h3,.fancy-detail.severity-trace h3,.fancy-detail.severity-debug h3{color:#ccc}
.fancy-detail.severity-info h3{color:#eee}
.fancy-detail.severity-notice h3{color:#8fdd00}
.fancy-detail.severity-warn h3{color:#1a9dff}
.fancy-detail.severity-error h3{color:#a335ee}
.fancy-detail h3{margin:0;font-size:24px;text-shadow:-1px -1px 0 #111,1px -1px 0 #111,-1px 1px 0 #111,1px 1px 0 #111,-1px -1px 1px #111,1px -1px 1px #111,-1px 1px 1px #111,1px 1px 1px #111}
.fancy-detail .category{display:block;font-size:14px;line-height:15px;color:#ccc;overflow:hidden;text-overflow:ellipsis}
.fancy-detail .tenantid,.fancy-detail .siteid{display:inline-block;margin:20px 10px 20px 0;padding:0 8px 0 60px;font-size:150%;color:#5ea0f2;border-bottom:solid 6px #282828;border-radius:3px;}
.fancy-detail .tenantid:before,.fancy-detail .siteid:before{text-align:right;font-size:14px;color:#ccc;display:block;opacity:.5}
.fancy-detail .tenantid:before{content:'tenant '}
.fancy-detail .siteid:before{content:'site '}
.fancy-detail .correlationid,.fancy-detail .severity,.fancy-detail .timestamp,.fancy-detail .url,.fancy-detail .content,.fancy-detail .exception-message{display:block;font-size:14px;line-height:20px;color:#ccc;overflow:hidden;text-overflow:ellipsis;color:#5ea0f2;}
.fancy-detail .correlationid:before,.fancy-detail .severity:before,.fancy-detail .timestamp:before,.fancy-detail .url:before,.fancy-detail .content:before,.fancy-detail .exception-message:before{display:inline-block;color:#dcc9a5;width:130px}
.fancy-detail .correlationid:before{content:'Correlation Id '}
.fancy-detail .severity:before{content:'Severity '}
.fancy-detail .timestamp:before,.fancy-detail .url:before{color:#948c7b}
.fancy-detail .timestamp{margin-top:10px;}
.fancy-detail .timestamp:before{content:'Timestamp (local) '}
.fancy-detail .url:before{content:'Url '}
.fancy-detail .content,.fancy-detail .exception-message{color:#fff;margin-top:20px}
.fancy-detail .content:before{content:'Content '}
.fancy-detail .exception-message:before{content:'Exception Message '}
